{% extends "base.html" %}
{% block content %}


<div class="card">
    <div class="card-body">
<div class='col-md-6 offset-md-3'>

    {% if user.is_authenticated %} 

    <form method='POST' action="{% url 'add_group_record' %}">
        {% csrf_token %}

        <h3>New Group</h3>

        {{form.as_p}}
        

    </br>
        <button type="submit" class="btn btn-secondary">Create Group</button>

        <a href="{% url 'home' %}" class="btn btn-primary">Back</a>

    </form>


    {% endif %}
    
</div>
</div>
</div>
{% endblock %}