{% extends "base.html" %}

{% block content %}

{% if request.session.userlogged %}   
<div class="car d">
  <div class="card-body">
<div class='col-md-6 offset-md-3'>

<h1>Hello! This is the Home Page, U have logged in.</h1>



{% else %}


<div class="card" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Login & Sign up </h5>

    <br>
      <div class="mb-3">
        <a href="https://5225a3test.auth.us-east-1.amazoncognito.com/oauth2/authorize?client_id=1mc2fqr6eho90ak0tajeuv55gq&response_type=token&scope=email+openid+profile&redirect_uri=http%3A%2F%2Flocalhost%3A8000%2Fhome1" classs="button">
          <button type="button" class="btn btn-primary">Login</button>
        </a>
      </div>


  </div>
</div>

</div>
</div>
</div>


</div>

{% endif %}

{% endblock %}

