{% extends "base.html" %}

{% block content %}

{% if request.session.userlogged %}   

<!DOCTYPE html>
<html>

<body>
    <div class="car d">
        <div class="card-body">
      <div class='col-md-6 offset-md-3'>

        <h3>Image Compare</h3>
        <br>
        
    <div id="feedback-container"></div>
    <form id="upload-form-similar">
        <label for="image-file">Image File:</label>
        <br>
        <br>
        <input type="file" id="image-file-similar" name="image-file-similar" required>
        <br>
        <br>
        <button type="submit">Upload</button>
    </form>
    <br>
        <br>
        <div class="card">
        <div class="card-body">
            {% for item in same_page_url %}
                <li>{{ item }}</li>
            {% endfor %}
        </div>
      </div>

    <script>

        document.getElementById('upload-form-similar').addEventListener('submit', function(event) {
            event.preventDefault();

            var imagesimliarFile = document.getElementById('image-file-similar').files[0];

            var new_formData = new FormData();
            new_formData.append('image-file-similar', imagesimliarFile);

            fetch('/image_similar/', {
                method: 'POST',
                body: new_formData,
                headers: {
                    'X-CSRFToken': '{{ csrf_token }}'
                }
            })
        });


    </script>
</div>
</div>
</div>

</body>
</html>
{% else %}

{% endif %}

{% endblock %}